.gjs-clm-effects{
  text-align: left;
  padding: 0 20px;
  margin-bottom: 30px;
}

.add-effect,
.gjs-clm-effects .options-holder select,
.gjs-clm-effects .options-holder input {
  border-radius: 0;
  color: #999;
  font-size: 12px;
  border: 1px solid #eee;
  color: inherit;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding: 8px 5px;
  z-index: 1;
}

.gjs-clm-effects .options-holder p {
  margin-bottom: 0;
}

.gjs-clm-effects .options-holder strong {
  font-weight: bold;
}

.gjs-clm-effects .animation-holder{
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
}
